<div id="root-wrapper">
  <div id="left-content">
    <% if cookies[:role] == 'fdw' %>
      <%= link_to '新規投稿作成', new_post_path(path: :root) %>
    <% end %>

    <%= render partial: 'post', collection: @posts %>
    <%= render 'logos' %>
  </div>

  <div id="right-content">
    <% if cookies[:role] == 'fdw' %>
      <%= link_to '新規投稿作成', new_post_path(path: :root_side) %>
    <% end %>

    <%= render partial: 'post', collection: @side_posts %>
  </div>
</div>
