<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :path, "対象ページ" %><br>
    <%= f.select :path, options_from_collection_for_select(Page.all, :path, :title, @post.path), style: "width: 150px;" %>
  </div>
  <div class="field">
    <%= f.label :title, "タイトル" %><br>
    <%= f.text_field :title, style: "width: 500px;" %>
  </div>
  <div class="field">
    <%= f.label :content, "内容" %><br>
    <%= f.text_area :content, style: "width: 500px; height: 250px;" %>
  </div>

  <%= render "uploads", post: @post %>

  <div class="field">
    <%= f.check_box :format_cd %>
    <%= f.label :format_cd, "HTML形式で入力" %><br>
  </div>
  <div class="field", id="published_at_field">
    <%= f.label :published_at, "投稿日時(投稿順に関係)" %><br>
    <%= f.datetime_select :published_at, use_month_numbers: true %>
  </div>

  <div class="field">
    <%= f.check_box :draft %>
    <%= f.label :draft, "下書きとして保存" %><br>
  </div>
  <div class="actions">
    <%= f.submit "反映" %>
  </div>
<% end %>

<% content_for :extra_scripts do %>
  <%= javascript_tag do %>
    $(function() {
      var check_draft = function() {
        if ($('#post_draft').prop('checked')) {
          $('#published_at_field').hide();
        } else {
          $('#published_at_field').show();
        }
      };
      check_draft();
      $('#post_draft').on('change', check_draft);
    });
  <% end %>
<% end %>
