<%= form_for(@upload) do |f| %>
  <% if @upload.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@upload.errors.count, "error") %> prohibited this upload from being saved:</h2>

      <ul>
      <% @upload.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :post %><br>
    <%= f.text_field :post %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <% if @upload.url.present? %>
      <%= link_to @upload.url do %>
        <div id="thum-image" class="img-contain" style="background-image: url('<%= @upload.url %>'); width: 200px; height: 200px;"></div>
      <% end %>
      <br>
    <% end %>
    <%= f.file_field :file %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<% content_for :extra_scripts do %>
  <%= javascript_tag do %>
    $(function() {
      $(document).on('change', '#upload_file', function() {
        $('#thum-image').hide();
      });
    });
  <% end %>
<% end %>
