<div class="column">
<div class="sub-head clearfix">
  <h2 class="left"><%= @upload.name %></h2>
  <% if cookies[:role] == 'fdw' %>
    <%= link_to "編集", edit_upload_path(@upload), class: "right" %>
  <% end %>
</div>
<div class="content">
  <%= link_to @upload.url do %>
    <% if @upload.image_type? %>
      <%= image_tag @upload.url, alt: @upload.name, class: "content-image" %>
    <% else %>
      ダウンロード
    <% end %>
  <% end %>
</div>
</div>

<%= link_to '一覧に戻る', uploads_path %>
