<!DOCTYPE html>
<html>
<head>
  <title>若竹会</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">

<div id="header">

<%= image_tag "title_top.jpg", width: "720", height: "48" %>

</div>

<div id="container">

<div id="main">
<% if alert %>
  <%= alert %>
<% elsif notice %>
  <%= notice %>
<% end %>
<%= yield %>
</div>

<%= render 'sidebar' %>

</div>

<div id="footer">
  <p class="gray">若竹会編集部：東京都中野区弥生町5-21-1　東京都立富士高等学校</p>
  <p>Copyright 2012 by Wakatake-kai, All rights reserved.</p>
</div>

</div>

<%= yield :extra_scripts %>
</body>
</html>
