<!DOCTYPE html>
<html>
<head>
  <title>FujiDaigoWakatakekai</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">

<div id="header">

<%= image_tag "title_top.jpg", width: "720", height: "48" %>

</div>

<div id="content">
<div id="side">
<ul>
<li class="tag_btn" align="left"><a href="/index.php">トップページ</a></li>
<li class="tag_btn" align="left"><a href="/greeting/greeting.php">HP開設にあたり</a></li>
<li class="tag_here" align="left">若竹会について</li>
<li class="tag_btn_sub" align="left"><a href="/about_us/kaisoku/kaisoku.php">会則</a></li>
<li class="tag_btn_sub" align="left"><a href="/about_us/fusoku/fusoku.php">附則</a></li>
<li class="tag_btn_sub" align="left"><a href="/about_us/meibo/meibo.php">役員名簿</a></li>
<li class="tag_btn_sub" align="left"><a href="/about_us/history/history.php">沿革</a></li>
<li class="tag_btn" align="left"><a href="/letter/letter.php">役員会だより</a></li>
<li class="tag_btn" align="left"><a href="/info/info.php">事務局からのお知らせ</a></li>
<li class="tag_btn" align="left"><a href="/w_new/w_new.php">更新履歴<br>(What's New)</a></li>
<li class="tag_btn" align="left"><a href="/archive/archive.php">アーカイブ</a></li>
<li class="tag_btn" align="left"><a href="/circle/circle.php">恩師・ＯＢの輪</a></li>
<li class="tag_btn" align="left"><a href="/link/link.php">リンク集</a></li>
<li class="tag_btn" align="left"><a href="/post/post.php">事務局への<br>連絡フォーム</a></li>
<li class="tag_btn" align="left"><a href="/board/board.php">会員からの告知板</a></li>
<li class="tag_btn" align="left"><a href="/enquete/enquete.php">アンケート</a></li>
<li class="tag_btn" align="left"><a href="/ucontact/ucontact.php">会員連絡先変更届</a></li>
</ul>
</div>

<%= yield %>

</div>

<div id="footer">
  Copyright 2012 by Wakatake-kai, All rights reserved.
</div>

</div>

</body>
</html>
